* {
  font-family: sans-serif;
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
